{% extends 'base.html' %} {% load staticfiles %} {% block body %}
<div class="d-flex flex-column w-100">
  <h2 class="mt-4">Minhas Avaliações de Alunos</h2>
  <div class="my-3">
    <table class="table table-hover table-responsive">
      <thead><h3>Avaliações de Alunos</h3></thead>
      <tbody>
        {% if avaliacoes %}
        <tr>
          <th scope="col">Aluno</th>
          <th scope="col">Turma</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Referente ao</th>
        </tr>
        {% for avaliacao in avaliacoes %}
        <tr
          class="clickable-row"
          data-href="{% url 'criarAvaliacaoAluno' avaliacao.id %}"
        >
          <th scope="row">{{ avaliacao.aluno }}</th>
          <td>{{ avaliacao.oferta_disciplina.turma }}</td>
          <td>{{ avaliacao.oferta_disciplina.disciplina }}</td>
          <td>{{ avaliacao.bimestre }}º Bimestre de {{ avaliacao.ano }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>Não há avaliações para exibir</tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="my-3">
    <table class="table table-hover table-responsive">
      <tbody>
        <thead><h3>Últimas avaliações lançadas</h3></thead>
        {% if avaliacoes_lancadas %}
        <tr>
          <th scope="col">Aluno</th>
          <th scope="col">Turma</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Referente ao</th>
        </tr>
        {% for avaliacao in avaliacoes_lancadas %}
        <tr
          class="clickable-row"
          data-href="{% url 'visualizarAvaliacaoAluno' avaliacao.id %}"
        >
          <th scope="row">{{ avaliacao.aluno }}</th>
          <td>{{ avaliacao.oferta_disciplina.turma }}</td>
          <td>{{ avaliacao.oferta_disciplina.disciplina }}</td>
          <td>{{ avaliacao.bimestre }}º Bimestre de {{ avaliacao.ano }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>Não há avaliações para exibir</tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script>
    jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
        window.location = $(this).data("href");
      });
    });
  </script>
</div>
{% endblock %}
