{% extends 'base.html' %} {% load staticfiles %} {% block body %}
<div class="d-flex flex-column w-75">
  <h2 class="mt-4">Minhas Avaliações de Turma</h2>
  <div class="mt-3 mb-3 table-holder table-responsive rounded shadow-sm">
    <h3>Avaliações para lançar</h3>
    {% if avaliacoes %}
    <table>
      <tbody>
        <tr>
          <th>Disciplina</th>
          <th>Turma</th>
          <th>Referente ao</th>
        </tr>
        {% for avaliacao in avaliacoes %}
        <tr
          class="clickable-row"
          data-href="{% url 'criarAvaliacaoTurma' avaliacao.id %}"
        >
          <td>{{ avaliacao.oferta_disciplina.disciplina }}</td>
          <td>{{ avaliacao.oferta_disciplina.turma }}</td>
          <td>{{ avaliacao.bimestre }}º Bimestre de {{ avaliacao.ano }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Não há avaliações para exibir</p>
    {% endif %}
  </div>
  <div class="mt-3 mb-3 table-holder table-responsive rounded shadow-sm">
    <h3>Últimas avaliações lançadas</h3>
    {% if avaliacoes_lancadas %}
    <table>
      <tbody>
        <tr>
          <th>Disciplina</th>
          <th>Turma</th>
          <th>Referente ao</th>
        </tr>
        {% for avaliacao in avaliacoes_lancadas %}
        <tr
          class="clickable-row"
          data-href="{% url 'visualizarAvaliacaoTurma' avaliacao.id %}"
        >
          <td>{{ avaliacao.oferta_disciplina.disciplina }}</td>
          <td>{{ avaliacao.oferta_disciplina.turma }}</td>
          <td>{{ avaliacao.bimestre }}º Bimestre de {{ avaliacao.ano }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Não há avaliações para exibir</p>
    {% endif %}
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}
