{% extends 'base.html' %} {% load staticfiles %} {% block body %}
<div class="d-flex flex-column p-4">
  <h2>
    Avaliação: {{ avaliacao.aluno }} -
    {{ avaliacao.oferta_disciplina.disciplina }}
  </h2>
  <ul class="list-group shadow-sm my-2">
    <li class="list-group-item bg-success text-center text-white">Veredito:</li>
    {% for opcao in opcoes %}
    <li class="list-group-item" id="{{ opcao }}">{{ opcao }}</li>
    {% if opcao == "Outros" %}
    <li class="list-group-item">{{ avaliacao.outros_avaliacao }}</li>
    {% endif %} {% endfor %}
  </ul>
</div>
<script>
  opcao = document.querySelector("#Outros");
  opcao.className = "list-group-item disabled";
</script>
{% endblock %}
