{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<h2 style="margin-top:.8em;">Minhas Avaliações de Turma</h2>
<div class="section-2">
    <div class="mt-3 mb-3 table-holder rounded shadow-sm d-flex flex-column text-center">
        <h3>Lançar nova avaliação</h3>
        <form  method="POST" role="form">
            {% csrf_token %} 
            <div>
            
            </div>
            <button class="btn btn-lg btn-info my-2" type="submit" value="Lancar">Lançar</button>
        </form>
    </div>
    <div class="mt-3 mb-3 table-holder rounded shadow-sm">
        <h3>Últimas Avaliações Lançadas</h3>
        {% if avaliacoes %}
            <table>
                <tbody>
                    <tr>
                    <th>Turma</th>
                    <th>Referente ao</th>
                    </tr> 
                    {% for AvaliacaoTurma in avaliacoes %}
                        <tr>
                        <td>{{AvaliacaoTurma}}</td>
                        <td>{{AvaliacaoTurma.bimestre}}º Bimestre de {{AvaliacaoTurma.ano}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Não há avaliações para exibir</p>
        {% endif %}
    
    </div>
</div>
<div class="box">
   
</div>
{% endblock %}