{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="d-flex flex-column p-2 rounded shadow-sm ">
    <h2>Avaliar Aluno</h2>
    <div class="d-flex flex-column">
        <div class="card">
            <img class="card-img-top img-fluid" src="{{avaliacao.aluno.foto.url}}" alt="Foto do discente {{avaliacao.aluno}}">
            <div class="card-body">
                <h4 class="card-title">{{avaliacao.aluno}}</h4>
                <p>Disciplina: {{avaliacao.oferta_disciplina.disciplina}}</p>
                <p>Turma: {{avaliacao.oferta_disciplina.turma}}</p>
            </div>
        </div>
        <form width="100%" class="d-flex flex-column" method="POST" action="{% url 'lancarAvaliacaoAluno' avaliacao.id %}">
            {% csrf_token %}
            {% for key, value in opcoes.items %}
            <div>
                <input type="checkbox" name="checks" id="{{ key }}" value="{{ key }}" onclick="exibirTxt()">
                <label class="" for="{{ key }}">{{ value }}</label>
            </div>
            {% endfor %}
            <textarea class="overflow-hidden noresize " name="outros" id="outros" cols="10" rows="5" placeholder="Digite sua avaliação aqui."></textarea>
            <button class="btn btn-success" type="submit">Lançar</button>
        </form>
    </div>
</div>
<script>
    var text = document.querySelector("#outros")
    var opcao = document.getElementById("128")
    function exibirTxt(){
        if (opcao.checked == true){
            text.style=""  
            text.style.display="flex"
            text.style.height="100px" 
        }
        else{
            text.style.display="flex"            
            text.style.border= "none"
            text.style.height= "0px"            
            text.value = ''
        }
    }
</script>
{% endblock %}