{% extends 'base.html' %} {% load static %} {% block body %}
<h2 class="mt-4">Administração Rápida</h2>
<h3 class="mt-3">Avaliações</h3>
<div class="row">
  <div class="col-sm">
    <h4 class="mt-3">- Gerar avaliações (Turma e alunos)</h4>
    <form class="card" method="POST" action="{% url 'gerarAvaliacoesTurma' %}">
      {% csrf_token %}
      <div class="m-3">
        <select class="form-control" name="turma" required>
          <option hidden>Selecione uma Turma</option>
          {% if turmas %} 
          {% for turma in turmas %}
          <option value="{{ turma.id }}">{{ turma }}</option>
          {% endfor %} {% else %}
          <option disabled>Não há turmas disponíveis</option>
          {% endif %}
        </select>
        <select class="form-control mt-2" name="bimestre" required>
          <option hidden>Selecione um bimestre</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-info" type="submit">Gerar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div>
  <h3 class="mt-3">Conselhos</h3>
</div>
<div class="row">
  <div class="col-sm">
    <h4 class="pt-3">- Gerar conselho</h4>
    <form class="card" method="POST" action="{% url 'gerarConselho' %}">
      {% csrf_token %}
      <div class="m-3">
        <select class="form-control" name="turma" required>
          <option hidden>Selecione uma Turma</option>
          {% if turmas %} {% for turma in turmas %}
          <option value="{{ turma.id }}">{{ turma }}</option>
          {% endfor %} {% else %}
          <option disabled>Não há turmas disponíveis</option>
          {% endif %}
        </select>
        <label for="data" class="col-form-label" name="data">Data</label>
        <input class="form-control" type="date" id="data" name="data" required/>
        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-info" type="submit">Gerar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm">
    <h4 class="pt-3">- Iniciar Conselho</h4>
    <form method="POST" class="card" action="{% url 'iniciarConselho' %}">
      {% csrf_token %}
      <div class="m-3">
        <select class="form-control" name="conselho" required>
          <option hidden>Selecione um Conselho</option>
          {% if conselhosFechados %} {% for conselho in conselhosFechados %}
          <option value="{{ conselho.id }}">{{ conselho }}</option>
          {% endfor %} {% else %}
          <option disabled>Não há conselhos disponíveis</option>
          {% endif %}
        </select>
        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-info" type="submit">Iniciar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm">
    <h4 class="pt-3">- Encerrar Conselho</h4>
    <form method="POST" class="card" action="{% url 'encerrrarConselho' %}">
      {% csrf_token %}
      <div class="m-3">
        <select class="form-control" name="select" required>
          <option hidden>Selecione um Conselho</option>
          {% if conselhosAbertos %} {% for cons in conselhosAbertos %}
          <option value="{{ cons.id }}">{{ cons }}</option>
          {% endfor %} {% else %}
          <option disabled>Não há conselhos disponíveis</option>
          {% endif %}
        </select>
        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-info" type="submit">Encerrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
