{% extends 'base.html' %} {% load static %} {% block body %}
<h3 class="mt-4">Precisa de ajuda? Vamos te dar uma mãozinha, {{user}}!</h3>
{% if user.is_superuser %}
<div class="w-100 pt-3">
    <h4>Página Inicial </h4>
    <p>Em sua página inicial serão mostrados todos os conselhos em andamento, assim fica muito mais fácil de gerenciá-los!</p>
    <p>Na aba de navegação estarão todas as funcionalidades que você irá utilizar.</p>
    <img style="max-width: 90%;" class="img-fluid" src="{% static 'faq/admin_home.PNG' %}" alt="Página inicial do Administrador">
</div>    
<div class="w-100 pt-3">
    <h4>Administração Rápida</h4>
    <p>Aqui foram reunidas as ferramentas que você como administrador do sistema irá utilizar para gerar as avaliações que serão realizados pelos usuários além de gerar, iniciar e encerrar os conselhos</p>
    <img style="max-width: 90%;" class="img-fluid" src="{% static 'faq/admin_admRapida.PNG' %}" alt="Página inicial do Administrador">
    <h5 class=" pt-2">Para gerar as avaliações de uma turma:</h5>
    <p>Selecione uma turma no primeiro campo, e então defina o bimestre que esta avaliação pertencerá e clique em "Gerar";</p>
    <p>A partir daí o sistema irá criar as avaliações de todos os docentes que ministram as aulas que esta turma possui.</p>
    <h5>Para gerar um conselho:</h5>
    <p>Selecione uma turma no primeiro campo, e então defina a data prevista para a abertura do conselho e clique em "Gerar"(esta data é somente para estipulação, não sendo definitiva).</p>
    <h5>Para abrir um conselho:</h5>
    <p>Após selecionar o conselho a ser aberto clique em "Iniciar", então o sistema irá gerar as votações dos alunos pertencentes a este conselho, e deixá-las abertas a receberem os votos dos usuários.</p>
    <h5>Para encerrar um conselho:</h5>
    <p>Após selecionar o conselho a ser encerrado clique em "Encerrar", então o sistema irá encerrar o conselho, podendo ter seus votos acessados pela Administração na aba "Gerenciar", localizada na aba de navegação.</p>
</div>  
<div class="w-100">
    <h4>Gerenciamento Avançado</h4>
    <p>Como administrador você pode realizar um gerenciamento mais preciso, tendo como modificar todos os registros realizados no sistema.</p>
    <img style="max-width: 90%;" class="img-fluid" src="{% static 'faq/admin_gerenciar.PNG' %}" alt="Página inicial do Administrador">
</div> 
{% else %}

{% endif %}
{% endblock %}
