{% extends 'base.html' %} {% load staticfiles %} {% block body %}
<h2 class="mt-4">Conselho: {{conselho.turma}}</h2>
{% if user.is_superuser %}
    <table class="table table-hover table-responsive" style="min-width: 250px;">
        <thead><h3>Votações em andamento </h3></thead>
        <tbody>
          <tr>
            <th scope="col">Aluno</th>
            <th scope="col">CPF</th>
          </tr>
          {% for votacao in votacoes_conselho %}
          <tr
            class="clickable-row"
            data-href="{% url 'exibirVoto' votacao.id %}"
          >
            <th scope="row">{{ votacao.aluno }}</th>
            <td>{{ votacao.aluno.cpf }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
{% else %}
    {% if votos_conselho %}
    <table class="table table-hover table-responsive" style="min-width: 250px;">
        <thead><h3>Votações a serem feitas</h3></thead>
        <tbody>
          <tr>
            <th scope="col">Aluno</th>
            <th scope="col">CPF</th>
          </tr>
          {% for voto in votos_conselho %}
          <tr
            class="clickable-row"
            data-href="{% url 'exibirVoto' voto.votacao.id %}"
          >
            <th scope="row">{{ voto.votacao.aluno }}</th>
            <td>{{ voto.votacao.aluno.cpf }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2 class="mt-4 text-center">Votação completada</h2>
    {% endif %}
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
        window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}