{% extends 'base.html' %} {% load staticfiles %} {% block body %}
<div class="row"></div>
    <div class="col-sm">
        <div class="card">
            <div class="w-100 text-center">
                <h2 class="mt-1">Votar</h2>
                <img
                    class="card-img-top img-fluid shadow m-1"
                    src="{{ aluno.foto.url }}"
                    alt="Foto do discente {{ avaliacao.aluno }}"
                />
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ aluno }}</h4>
                <p>Turma: {{ aluno.turma }}</p>
            </div>
            <form
            width="100%"
            class="d-flex flex-column"
            method="POST"
            action="{% url 'lancarVoto' voto.id %}"
            >
            {% csrf_token %}
            <div class="d-flex flex-column align-items-center w-100">
                <button name="botao" value="aprovar" class="btn btn-success m-2 w-50" onclick="">Aprovar</button>
                <button name="botao" value="reprovar" class="btn btn-danger m-2 w-50" type="submit">Reprovar</button>
                <button name="botao" value="abster" class="btn btn-secondary m-2 w-50" type="submit">Abster</button>
            </div>
            </form>
        </div>
        <div class="col-sm">
            <div class="col-sm" style="background-color: darkslategray; width: 250px; height: 250px;;"></div>
        </div>
    </div>
</div>

{% endblock %}